#root img  {

    height: 465px;
    width: 460px;
    margin-top: 60px;
    margin-left: 40px;

}
#root {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: space-between;
}
.botao {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: #27AE60;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 89px;
    margin-left: 00px;
    cursor:pointer;
}
span {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
button {
    width: 40px;
    height: 40px;
    font-weight: 700;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    font-size: 16px;
    line-height: 19px;
    background-color:  #E1ECF4;
    margin: 10px;
    color: #39739D;
    cursor:pointer;
}
:disabled {
    background-color: 
    #9FAAB5;
}
.teclado {
    display: flex;
    align-items: end;
    height: 100px;
    width: 800px;
    flex-wrap: wrap;
    margin-top: 550px;
    margin-right: 400px;
    position: relative;
}
.botaoteclado {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.palavra {
    margin-top: 500px;
    margin-right: 420px;
    position: absolute;
    letter-spacing: 10px;
}
.palavraSorteada {
    font-size: 50px;
    color: black;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 10px;
}
.vermelho {
    color: #FF0000;
    font-size: 50px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 10px;
}
.verde {
    color: #27AE60;
    font-size: 50px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 10px;
}